upload_rate = 400
directory = /dl/downloads
session = /dl/sessions
schedule = watch_start,5,5,((load.start_verbose,"/dl/torrent_files/*.torrent"))
schedule = tied_directory,5,5,start_tied=
schedule = untied_directory,5,5,stop_untied=
schedule = untied_directory,5,5,close_untied=
schedule = untied_directory,5,5,remove_untied=
port_range = 9000-9001
scgi_port = 0.0.0.0:5000
dht = auto
dht_port = 6881
